{% if score_details %}
  <ul class="messages messages--status">
    SEO Scores
    <li class="alert alet-success">Optimization Score {{ score_details.target_optimization_score }}</li>
    <li class="alert alet-success">Satisfied Score {{ score_details.satisfied_points }}({{ score_details.total_satisfied_rules }})</li>
    <li class="alert alet-success">Unsatisfied Score {{ score_details.unsatisfied_points }}({{ score_details.total_unsatisfied_rules }})</li>
  </ul>
{% endif %}
{% if satisfied_rules %}
  <ul class="messages messages--status">
    Success
    {% for satisfied_rule in satisfied_rules %}
      <li  class="alert alet-success">{{ satisfied_rule.title }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if unsatisfied_rules %}
  <ul class="messages messages--error">
    Attention Required
    {% for unsatisfied_rule in unsatisfied_rules %}
      <li class="alert alet-danger">
        {{ unsatisfied_rule.title }}<br/>
        <em>Importance</em>: {{ unsatisfied_rule.importance }}
      </li>
    {% endfor %}
  </ul>
{% endif %}